
/* ============= Mobile styles ============= */

.about-us-section {
padding-bottom: 80px;
}

.about-us-div {
background-color: var(--second-bk-color);
padding: 40px 20px 335px 20px;
border-radius: 24px;
}

.about-us-title {
color: var( --accent-text-color);

font-size: 28px;
font-weight: 500;
line-height: 1;
letter-spacing: -0.02em;

margin-bottom: 40px;
}

.about-us-text {
color: #1B414B;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 18px */
letter-spacing: -0.02em;

margin-bottom: 20px;
}

.about-us-under-text {
color: var(--second-text-color_a-four);

font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.17;
letter-spacing: -0.02em;

margin-bottom: 40px;
}

.about-us-picture {
    position: relative;
}

.about-us-img {
    position: absolute;
}

/* ============= /Mobile styles ============= */


/* ============= Tablet styles ============= */

@media screen and (min-width: 768px) {

    .about-us-div {
        padding: 50px 136px 244px 32px;
        justify-content: space-between;
    }

    .about-us-title {
        width: 536px;
        font-size: 48px;
        
    }

    .about-us-text {
        width: 389px;
        font-size: 23px;
    }

    .about-us-under-text {
        width: 385px;
        font-size: 13px;
    }
    
}

/* ============= /Tablet styles ============= */


/* ============= Laptope styles ============= */

@media screen and (min-width: 1280px) {

    .about-us-div {
        display: flex;
        padding: 50px 50px 438px 50px;
        justify-content: space-between;
    }

    .about-us-title {
        width: 537px;
        
    }

    .about-us-text {
        width: 354px;
    }

    .about-us-under-text {
        width: 354px;
    }

    
}

/* ============= /Laptope styles ============= */


/* ============= Desktope styles ============= */

@media screen and (min-width: 1440px) {
    
}

/* ============= /Desktope styles ============= */