/*=============== HERO SECTION ===============*/
.hero-section {
    padding-top: 260px;
    padding-bottom: 243px;
}

@media only screen and (min-width: 768px) {
    .hero-section {
        padding-top: 345px;
        padding-bottom: 150px;
   }
}

@media only screen and (min-width: 1280px) {
    .hero-section {
        padding-top: 235px;
        padding-bottom: 180px;
    }
}

.hero-section .container {
    text-align: center;
}

.hero-section .title {
    color: var(--main-text-color);

    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;

    max-width: 335px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .hero-section .title {
        font-size: 70px;

        max-width: 704px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-section .title {
        font-size: 80px;

        max-width: 954px;
    }
}

.hero-section .text {
    color: rgba(251, 251, 251, 0.7);

    font-size: 12px;
    font-weight: 300;
    line-height: 1.17;

    max-width: 335px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;
}

@media screen and (min-width: 768px) {
    .hero-section .text {
        font-size: 16px;
        line-height: 1.4;

        max-width: 597px;

        margin-bottom: 48px;
    }
}

.hero-section .link {
    color: var(--main-text-color);
    background-color: var(--main-btn-color);

    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.02em;

    border-radius: 15px;

    padding: 14px 32px;

    min-width: 138px;
    display: inline-block;

    transition:
    color var(--transition-duration-and-timing-function),
    background-color var(--transition-duration-and-timing-function);
}

.hero-section .link:hover,
.hero-section .link:focus {
    color: var(--accent-text-color);
    background-color: var(--second-btn-color);
}

@media only screen and (min-width: 768px) {
    .hero-section .link {
        font-size: 18px;
        line-height: 1.1;

        padding: 16px 40px;

        min-width: 175px;
    }
}
/*=============== END of Hero Section ===============*/