<section class="section-advantages">
    <div class="container container-advantages">
        <h2 class="visually-hidden">team</h2>
        <div class="advantages">
            <ol class="numbered-list">
                <li class="numbered-list-item">
                    <span class="number-item">01</span>
                    <div class="line-item"></div>
                    <p class="title-item-pr">Swimming and water sports: try your hand at water skiing</p>
                </li>
                <li class="numbered-list-item">
                    <span class="number-item">02</span>
                    <div class="line-item"></div>
                    <p class="title-item-pr">Fishing: try to catch your own dinner</p>
                </li>
                <li class="numbered-list-item">
                    <span class="number-item">03</span>
                    <div class="line-item"></div>
                    <p class="title-item-pr">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets
                        from the water </p>
                </li>
                <li class="numbered-list-item">
                    <span class="number-item">04</span>
                    <div class="line-item"></div>
                    <p class="title-item-pr">Rest and relaxation: read a book or listen to music while enjoying the
                        outdoor atmosphere.</p>
                </li>
            </ol>
        </div>

        <picture>
            <source srcset="./img/images-advantages/yacht-dec-2.jpg 1x, ./img/images-advantages/yacht-dec-2@2x.jpg 2x"
                media="(min-width: 1440px)">
            <source srcset="./img/images-advantages/yacht-dec-1.jpg 1x, ./img/images-advantages/yacht-dec-1@2x.jpg 2x"
                media="(min-width: 1280px)">
            <source
                srcset="./img/images-advantages/yacht-tablet.jpg 1x, ./img/images-advantages/yacht-tablet@2x.jpg 2x"
                media="(min-width: 768px)">
            <source srcset="./img/images-advantages/yacht-mobile.jpg 1x, ./img/images-advantages/yacht-mobile@2x.jpg 2x"
                media="(min-width: 320px)">
            <img class="advantages-img" src="./img/images-advantages/yacht-mobile.jpg" alt="advantages img">
        </picture>
    </div>
</section>