<section class="section-our-yachts" id="our-yachts">
    <div class="container">
        <h2 class="title-our-yachts">Choose your dream yacht and sail away into the sunset</h2>
        <ul class="list-yachts">
            <li class="item-yachts">
                <picture>
                    <source srcset="./img/images-our-yachts/img-yacht-1-desktop-1440.png,
                    ../img/images-our-yachts/img-yacht-1-desktop-1440@2x.png 2x" media="(min-width: 1440px)" />
                    <source srcset="./img/images-our-yachts/img-yacht-1-desktop-1280.png,
                    ../img/images-our-yachts/img-yacht-1-desktop-1280@2x.png 2x" media="(min-width: 1200px)" />
                    <source srcset="./img/images-our-yachts/img-yacht-1-tablet.png,
                    ../img/images-our-yachts/img-yacht-1-tablet@2x.png 2x" media="(min-width: 768px)" />
                    <source srcset="../img/images-our-yachts/img-yacht-1-mobile.png,
                    ../img/images-our-yachts/img-yacht-1-mobile@2x.png 2x" media="(min-width: 375px)" />
                    <img class="item-yachts-image" src="../img/images-our-yachts/img-yacht-1-mobile.png" alt="Arrow" />
                </picture>

                <table class="table-yachts-desc">
                    <thead class="table-row-title">
                        <tr class="table-yachts-row">
                            <th class="table-yachts-first-column-name">Arrow</th>
                            <th class="table-yachts-second-column-lable">Luxury yahts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-yachts-row table-yachts-first-row">
                            <th class="table-yachts-first-column">Lenght</th>
                            <th class="table-yachts-second-column">48m(155ft)</th>
                        </tr>
                        <tr class="table-yachts-row">
                            <th class="table-yachts-first-column">Builder</th>
                            <th class="table-yachts-second-column">Admiral</th>
                        </tr>
                        <tr class="table-yachts-row">
                            <th class="table-yachts-first-column">Built</th>
                            <th class="table-yachts-second-column">2021</th>
                        </tr>
                        <tr class="table-yachts-row">
                            <th class="table-yachts-first-column">Guests</th>
                            <th class="table-yachts-second-column">11 in 5 cabins</th>
                        </tr>
                        <tr class="table-yachts-row">
                            <th class="table-yachts-first-column">Price</th>
                            <th class="table-yachts-second-column">€33,500,000</th>
                        </tr>
                    </tbody>
                </table>
            </li>

            <li class="item-yachts second-yacht-card">
                <picture>
                    <source srcset="./img/images-our-yachts/img-yacht-2-desktop-1440.png,
                                    ../img/images-our-yachts/img-yacht-2-desktop-1440@2x.png 2x"
                        media="(min-width: 1440px)" />
                    <source srcset="./img/images-our-yachts/img-yacht-2-desktop-1280.png,
                                    ../img/images-our-yachts/img-yacht-2-desktop-1280@2x.png 2x"
                        media="(min-width: 1200px)" />
                    <source srcset="./img/images-our-yachts/img-yacht-2-tablet.png,
                                    ../img/images-our-yachts/img-yacht-2-tablet@2x.png 2x"
                        media="(min-width: 768px)" />
                    <img class="item-yachts-image" src="../img/images-our-yachts/img-yacht-2-tablet.png"
                        alt="BENETTI OASIS 40M BO122" />
                </picture>

                <table class="table-yachts-desc">
                    <thead class="table-row-title">
                        <tr class="table-yachts-row">
                            <th class="table-yachts-first-column-name">Benetti Oasis 40M BO122</th>
                            <th class="table-yachts-second-column-lable">Luxury yahts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-yachts-row table-yachts-first-row">
                            <th class="table-yachts-first-column ">Lenght</th>
                            <th class="table-yachts-second-column">41m (133ft)</th>
                        </tr>
                        <tr class="table-yachts-row">
                            <th class="table-yachts-first-column">Shipyard</th>
                            <th class="table-yachts-second-column">Benetti</th>
                        </tr>
                        <tr class="table-yachts-row">
                            <th class="table-yachts-first-column">Built</th>
                            <th class="table-yachts-second-column">2025</th>
                        </tr>
                        <tr class="table-yachts-row">
                            <th class="table-yachts-first-column">Guests</th>
                            <th class="table-yachts-second-column">10 in 5 cabins</th>
                        </tr>
                        <tr class="table-yachts-row">
                            <th class="table-yachts-first-column">Price</th>
                            <th class="table-yachts-second-column">€23,210,000</th>
                        </tr>
                    </tbody>
                </table>
            </li>


            <li class="item-yachts third-yacht-card">
                <picture>
                    <source srcset="./img/images-our-yachts/img-yacht-3-desktop-1440.png,
                                                    ../img/images-our-yachts/img-yacht-3-desktop-1440@2x.png 2x"
                        media="(min-width: 1440px)" />
                    <source srcset="./img/images-our-yachts/img-yacht-3-desktop-1280.png,
                                                    ../img/images-our-yachts/img-yacht-3-desktop-1280@2x.png 2x"
                        media="(min-width: 1200px)" />
                    <img class="item-yachts-image" src="../img/images-our-yachts/img-yacht-3-desktop-1280.png"
                        alt="BELLE ANNA" />
                </picture>

                <table class="table-yachts-desc">
                    <thead class="table-row-title">
                        <tr class="table-yachts-row table-yachts-title">
                            <th class="table-yachts-first-column-name">Belle Anna</th>
                            <th class="table-yachts-second-column-lable">Luxury yahts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-yachts-row table-yachts-first-row">
                            <th class="table-yachts-first-column">Lenght</th>
                            <th class="table-yachts-second-column">50m(155ft)</th>
                        </tr>
                        <tr class="table-yachts-row">
                            <th class="table-yachts-first-column">Shipyard</th>
                            <th class="table-yachts-second-column">ISA</th>
                        </tr>
                        <tr class="table-yachts-row">
                            <th class="table-yachts-first-column">Built</th>
                            <th class="table-yachts-second-column">2012</th>
                        </tr>
                        <tr class="table-yachts-row">
                            <th class="table-yachts-first-column">Guests</th>
                            <th class="table-yachts-second-column">12 in 6 cabins</th>
                        </tr>
                        <tr class="table-yachts-row">
                            <th class="table-yachts-first-column">Price</th>
                            <th class="table-yachts-second-column">€21,000,000</th>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>
        <a href="#yacht-rental" class="link-yacht-rental">Yacht rental</a>
    </div>
</section>
