<!-- FOOTER -->
<footer class="footer-wrapper">
  <div class="footer-container">
    <div class="footer">
      <div class="footer-nav-social-container">
        <a href="/" class="logo-footer">yachtjet</a>
        <nav class="footer-nav">
          <a href="#about-us" class="footer-nav-link">About</a>
          <a href="#our-yachts" class="footer-nav-link">Yachts</a>
          <a href="#reviews" class="footer-nav-link">Reviews</a>
        </nav>
        <ul class="footer-socials-list">
          <li>
            <a
              href="https://www.instagram.com/goitclub/"
              class="footer-social-link"
              target="_blank"
            >
              <svg
                class="footer-icon"
                height="24"
                width="24"
                aria-label="Instagram"
              >
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/c/GoIT"
              class="footer-social-link"
              target="_blank"
            >
              <svg
                class="footer-icon"
                height="24"
                width="24"
                aria-label="Youtube"
              >
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/goITclub/"
              class="footer-social-link"
              target="_blank"
            >
              <svg
                class="footer-icon"
                height="24"
                width="24"
                aria-label="Facebook"
              >
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <p class="footer-text">
        No matter which yacht you choose, our experienced crew will ensure that
        your journey is smooth and enjoyable.
      </p>
      <div class="footer-bottom">
        <p class="footer-bottom-text">2023. Yacht Adventures</p>
        <a
          href="https://goit.global/ua/privacy-policy/"
          target="_blank"
          class="footer-bottom-link"
          >Privacy Police</a
        >
      </div>
    </div>
  </div>
</footer>
